/*.title-logo{
    position: relative;
}

.aletheia-name{
    text-align: center;
    font-family: 'Andika', sans-serif;
    font-size: 4em;
    color: #274e13;
}

h5.aletheia-name{
    font-size: 2em;
}

.aletheia-a{
    font-weight: bold;
    font-size: 1.5em;
}

h5 .aletheia-a{
    font-size: 1.42em;
}

.aletheia-a-small{
    font-weight: bold;
    font-size: .95em;
}

.aletheia-heart{
    position: absolute;
    top: 55px;
    left: 20.5px;
    color: #85200c;
    rotate: 55deg;
    font-size: 1.8em;
}

h5.aletheia-heart{
    font-size: .85em;
    top: 25px;
    left: 9.5px;
}

.aletheia-crown{
    position: absolute;
    top: 10px;
    left: 6px;
    color: #85200c;
    font-weight: bolder;
    font-size: 1.5em;
}

h5.aletheia-crown{
    font-size: .75em;
    top: 4px;
    left: 1px;
}

.aletheia-crown-mid{
    position: relative;
    top: -3px;
    font-size: .9em;
}

h5 .aletheia-crown-mid{
    top: -1.75px;
}*/

.colors{
    background-color: #274e13; /*Asset ColorCalPolyGreen*/
    background-color: #85200c; /*Asset Sienna*/
    background-color: #F3EFE0; /*Neutral Eggshell*/
    background-color: #80727B; /*Nuetral TaupeGray*/
    background-color: #9b7ede; /*Call to Action PaynesGray*/
}

body{
    background-color: #F3EFE0;
}

h1{
    font-size: 4em;
}

h2{
    font-family: 'Average Sans', sans-serif;
    font-style: bold;
    font-size: 3em;
}

p{
    font-family: 'Vollkorn';
}

.navbar{
    background-color: #F3EFE0;
}

.navbar-brand h3{
    display: inline-block;
    transform: translate(5%, 0%);
}


.aletheia-name{
    font-family: 'Andika', sans-serif;
    color: #274e13;
}

.black{
    color: black;

}

.heart::before{
    font-size: .5em;
    color: #85200c;
    display: inline-block;
    transform: translate(414%, -30%)rotate(55deg) ;
    content: "\2765";
}

.crown{
    color: #85200c;
}

.crown::before{
    font-size: .35em;
    display: inline-block;
    transform: translate(975%, -250%);
    content: "|";
}

.crown::after{
    font-size: .35em;
    display: inline-block;
    transform: translate(117%, -237%);
    content:"\\ \00a0 \00a0 /";
}

/*Helpful to switch this a swapping out with Javascript later because this does not appear in DOM*/
.aletheia-a{
    display: none;
}

.aletheia-a + span::after{
    font-weight:bold;
    font-size: .95em;
    content: "α";
}

.first-a + span:after{
    font-size: 1.5em;
}

.home .content{
    height: 75vh;
    width: 100%;
    background-image: url('images/SmileShoes.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.home h2{
    color: #43B929de;
    text-shadow:
    2px 2px 2px #274e13,
    -2px 2px 2px #274e13,
    -2px -2px 2px #274e13,
    2px -2px 2px #274e13;
}

.about{
    padding-top: 10px;
    padding-bottom: 50px;
}

.about img{
    width: 80%;
}

.training{
    margin:auto;
    max-width: 450px;
}

.training>ul {
    list-style-type: none;
}

.training li::before{
    transform: rotate(-90deg);
    content: 'workspace_premium';
    font-family: 'Material Icons';
}

.location{
    padding-bottom: 100px;
}

.frame {
    margin: 0% 5% 5% 15%;
    padding: 8px;
    height: 230px;
    width: 300px;
    border: 2px solid #80727B;
    border-radius: 5px;
    background-color: #80727B;
  }

.textbox-border {
    background-color: #EBEBEB;
    padding: 1.2em;
    border: 1px solid #80727B;
    border-radius: 5px;
}

.telehealth h3{
    text-align: center;
    text-shadow:
    1px 1px 3px #80727B;
}

.telehealth img{
    display: block;
    max-width: 80%;
    margin: auto;
}

.sessions h3{
    text-align: center;
    text-shadow:
    1px 1px 3px #80727B;
}

.sessions .card{
    width: 90%;
}

.card-header{
    color: #F3EFE0;
    text-shadow:
    2px 2px 3px #80727B;
    background-color: #274e13;
}

.insurance{
    height: 100vh;
    width: 100%;
    background-image: url('images/InsuranceBack.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.insurance h3{
    text-align: center;
    color: #F3EFE0;
    text-shadow:
    1px 1px 3px #80727B;
}

.insurance .card{
    margin-top: 10%;
}

iconify-icon{
    position: relative;
    top: 2.5px;
    left: 3px;
}

.paypal{
    font-family: 'Average Sans', sans-serif;
    font-style: italic;
}

.zelle {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
}

footer{
    background-color: #F3EFE0;
}